*{
    padding: 0%;
    box-sizing: border-box;
    margin: 0;
}
.card{
    border-radius: 10px;
    border: 1px solid black;
    width:423px;
    height: 265px;
    margin: 30px auto;

}
.card_header{
    background-color: rgb(26, 4, 99);
    color: white;
    text-align: center;
    display: flex;
    font-family:  sans-serif;
    width: 100%;
    height: 90px;
    padding: 0%;
    border-radius: 6px 6px 0px 0px;

}
.header_items{
    display:inline-block;
    margin: 0;
    padding: 0;
    border: 2px s0lid white;
}
header .text{
    font-size: 13px;
    width: 100%;
    padding-top: 8px;
}
.logo{
width: 18%;
height: 89px;
border-radius: 6px 0px 0px 0px;
padding: 0;
margin: 0%;
}
.sch_logo{
    width: 100%;
    height: 100%;
    border-radius: 6px 0px 0px 0px;
}
.intro_area{
    background-color: rgb(3, 114, 158);
    text-align: center;
    color:white;
    padding: 4px;
    font-family: sans-serif;
}
.info_area{
    padding: 0%;
    margin: 0%;
    display: flex;
    gap: 3px;
    background-color: rgba(240, 248, 255, 0.185);
}

.details_text{
    display: block;
    color: black;
    padding: 4px 0px 0px 0px;
    font-weight: 580;
}
.details_text span{
    color:rgb(26, 4, 99);
    font-family:cursive;
    font-size: 15px;
}
#red_text{
    color: red;
}
.info_img{
    width:27%;
    height:90px;
    border:2px solid white;
}
.student_img{
    width:100%;
    height:100%;
}
.session h5{
    font-size:16px;
    padding-left: 3px;
    padding-bottom: 3px;
    font-weight: 800;
}
h5 span{
    font-weight: 800;
}
.back{
    font-family: sans-serif;
    font-weight: 600;
    padding: 20px;
}
.back p{
    margin-bottom: 12px;
    font-size: 12px;
    font-weight: 550;
}
.last{
    display: flex;
}
.qr_code{
    width: 198px;
    height: 120px;
    border: 1px solid back;
}
.qrcode{
    width: 100%;
    height:100%;
}